/*
    Document   : default
    Created on : 21.02.2011, 20:24:06
    Author     : mre
    Description:
        Styles required by the template and not covered by the themes.
*/

/*-------------------------1
    Header  Classes
-------------------------*/
.ctTpl_seasons-sh .ct-application-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 2.8em;
    z-index: 5;
}

.ctTpl_seasons-sh .ct-application-header__logo {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
}

.ctTpl_seasons-sh .ct-application-header__app-title {
    flex-grow: 1;
    overflow: hidden;
}

.ctTpl_seasons-sh .ct-application-header__logo,
.ctTpl_seasons-sh .ct-application-header__app-title {
    font-size: 1.5em; /*corresponds to h2*/
    padding: 0 10px;
}

.ctTpl_seasons-sh .omnisearch {
    width: 20em;
}

.ctTpl_seasons-sh .ct-omnisearch__result-list {
    min-width: 18em;
}

.ctTpl_seasons-sh .userMenu,
.ctTpl_seasons-sh .ct-application-header .builderWizardBtn {
    display: inline-block;
    width: auto;
    text-align: right;
    vertical-align: top;
}

.ctTpl_seasons-sh .ct-application-header div.username {
    display: inline-block;
    vertical-align: middle;
}

/*-------------------------
    Footer Classes
-------------------------*/

.ctTpl_seasons-sh .ct-application-footer.dijitContentPane {
    height: 2.5em;
    padding: 0;
    /* ensure that copyright and coordinates never wrapped */
    white-space: nowrap;
    overflow-y: hidden;
}

.ctTpl_seasons-sh .ctFollowMe .dijitTabPaneWrapper {
    border-bottom-width: 0;
}

.ctTpl_seasons-sh .ct-application-footer .ctTool {
    margin-top: 0;
    margin-bottom: 0;
}


/*-------------------------
    Map Classes
-------------------------*/

.ctTpl_seasons-sh .mainMap > .dijitContentPane {
    /* make map fullsize */
    padding: 0;
}

.ctTpl_seasons-sh .mainMap {
    /*ensure that windows are kept inside map*/
    overflow: hidden;
}

.ctTpl_seasons-sh .logo-med,
.ctTpl_seasons-sh .logo-sm {
    bottom: 5px;
    right: 70px;
    position: absolute;
}

.ctTpl_seasons-sh .logo-sm {
    width: 42px;
}

.ctTpl_seasons-sh .map .dijitMenu {
    /*ensure, that esri logo does not block any tool menues*/
    z-index: 2
}

.ctTpl_seasons-sh .map_main .mapLoadingInfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

/*-------------------------
    Generic Placeholder Classes
-------------------------*/
.ctTpl_seasons-sh .map_topleft,
.ctTpl_seasons-sh .map_topright,
.ctTpl_seasons-sh .map_bottomright,
.ctTpl_seasons-sh .map_bottomleft {
    position: absolute;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.ctTpl_seasons-sh .map_topleft *,
.ctTpl_seasons-sh .map_topright *,
.ctTpl_seasons-sh .map_bottomright *,
.ctTpl_seasons-sh .map_bottomleft * {
    pointer-events: auto;
}

.ctTpl_seasons-sh .map_topleft {
    top: 20px;
    left: 20px;
}

.ctTpl_seasons-sh .map_topright {
    top: 20px;
    right: 20px;
}

.ctTpl_seasons-sh .map_bottomright {
    /*to match up with esri logo*/
    bottom: 35px;
    right: 20px;
}

.ctTpl_seasons-sh .map_bottomleft {
    bottom: 35px;
    left: 20px;
}

/*-------------------------
    Zoom Slider Classes
-------------------------*/
.ctTpl_seasons-sh .esri-ui-top-left {
    /*this position is only temporary as long as esri's main.css isn't integrated'*/
    top: 75px;
    left: 5px
}

/*-------------------------
    Button Classes
-------------------------*/
.ctTpl_seasons-sh .ct-application-header__container-right {
    display: flex;
    align-items: center;
    overflow: hidden;
}

/*-------------------------
    Tool Classes
-------------------------*/
.ctTpl_seasons-sh .map_main > .mapview_tools {
    z-index: 100;
    position: absolute;
    bottom: 35px;
    right: 20px;
}
