/*------------------------------
    MOBILE DEVICE OPTIMIZING
--------------------------------*/

/*hide button texts for footer buttons and add icons instead to save room*/
.ctTpl_seasons[class*='ctLayout_mobile_'] .ct-application-footer {
    align-items: flex-start;
}
.ctTpl_seasons[class*='ctLayout_mobile_'] .ct-application-footer .ctWindowDockingBar .ctWindowTabButton .dijitIcon,
.ctTpl_seasons[class*='ctLayout_mobile_'] .ct-application-sidebar .ctWindowDockingBar .ctWindowTabButton .dijitIcon {
    display: block;
}
.ctTpl_seasons[class*='ctLayout_tablet_'] .ct-application-footer.dijitContentPane {
    overflow: hidden;
}
.ctTpl_seasons[class*='ctLayout_mobile_'] .ct-application-footer .ctWindowDockingBar .ctWindowTabButton .dijitButtonNode {
    padding: .55rem;
}
.ctTpl_seasons[class*='ctLayout_mobile_'] .ct-application-sidebar .ctWindowDockingBar .ctWindowTabButton .dijitIcon:before,
.ctTpl_seasons[class*='ctLayout_mobile_'] .ct-application-footer .ctWindowDockingBar .ctWindowTabButton .dijitIcon:before {
    font-size: 1.6rem;
}
.ctTpl_seasons[class*='ctLayout_mobile_'] .ctWindowDockingBar .ctWindowTabButton .dijitButtonText,
.ctTpl_seasons[class*='ctLayout_mobile_'] .ct-application-sidebar .ctWindowDockingBar .ctWindowTabButton .dijitButtonText {
    display: none;
}
.ctTpl_seasons .omnisearch--flex-width {
    max-width: 20em;
    width: calc(100vw - 50px);
}
.ctTpl_seasons .ct-main-app-menu + .omnisearch--flex-width {
    width: calc(100vw - 90px);
}

.ctTpl_seasons[class*='ctLayout_mobile_landscape'] .omnisearch--flex-width {
    width: calc(100vw - 90px - 50px); /*aditional width reduction due to sidebar width*/
}

.ctTpl_seasons .ct-application-sidebar .dockingBarLeft:not(:empty) {
    width: 50px;
}
.ctTpl_seasons .ct-application-sidebar .ctWindowTabButton {
    height: auto
}
.ctTpl_seasons .mobileWindow {
    animation-duration: 0s;
    box-shadow: none;
}

.ctTpl_seasons[class*='ctLayout_mobile_landscape'] .ct-application-sidebar .ctTool {
    display: block;
}
.ctTpl_seasons[class*='ctLayout_mobile_landscape'] .ct-application-sidebar .ctWindowDockingBar .ctWindowTabButton .dijitButtonNode {
    padding-left: 12px;
    padding-right: 12px;
}
.ctTpl_seasons[class*='ctLayout_mobile_landscape'] .ct-application-sidebar .ctWindowDockingBar .ctWindowTabButton .dijitIcon {
    padding-top: 5px;
    padding-bottom: 5px;
}
.ctTpl_seasons[class*='ctLayout_mobile_'] .followMe .col1,
.ctTpl_seasons[class*='ctLayout_tablet_landscape'] .followMe .col1 {
    display: block;
    float: none;
}
.ctTpl_seasons[class*='ctLayout_mobile_'] .followMe .ctFollowMeAttendees,
.ctTpl_seasons[class*='ctLayout_tablet_landscape'] .followMe .ctFollowMeAttendees {
    margin: 0;
    margin-top: 30px;
    border: none;
}
.ctTpl_seasons[class*='ctLayout_mobile_'] .followMe .ctFollowMeAttendeesList,
.ctTpl_seasons[class*='ctLayout_tablet_landscape'] .followMe .ctFollowMeAttendeesList {
    margin: 0;
}
.ctTpl_seasons[class*='ctLayout_mobile_'] .followMe .ctFollowMeAttendeesList ul,
.ctTpl_seasons[class*='ctLayout_tablet_landscape'] .followMe .ctFollowMeAttendeesList ul {
    height: auto;
}
.ctTpl_seasons[class*='ctLayout_mobile_'] .followMe .ctFollowMeAttendeesList li,
.ctTpl_seasons[class*='ctLayout_tablet_landscape'] .followMe .ctFollowMeAttendeesList li {
    float: none;
}
.ctTpl_seasons .mobileWindow .ctBasemapGallery {
    overflow-y: auto;
}
.ctTpl_seasons .mobileWindow .ctBasemapGallery .esriBasemapGalleryNode {
    display: block;
    float: left;
}
@media (max-width: 544px) {
    .ctTpl_seasons .ctUserButton .dijitButtonText,
    .ctTpl_seasons .ct-application-header__app-title,
    .ctTpl_seasons .ctAppManagmentButton .dijitButtonText {
        display: none;
    }
    .ctTpl_seasons .ct-application-header__logo,
    .ctTpl_seasons .ct-application-header__app-title,
    .ctTpl_seasons .ct-application-header .ctUserNameValue {
        padding-left: 5px;
        padding-right: 5px;
    }
    .ctTpl_seasons .appsOverview .ct-data-view__toolbar {
        min-height: 7rem;
    }
}
